.container-fluid {
    
    .top {
        width: 45%;
        height: 300px;
        background-image: url(../../assets/img/bg-pattern-top-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .first {
        margin-top: -10rem !important;
        padding:0 2rem !important;
       

        .col {
          
            .text-dark {
                @include font;
                color: $card-bg-color !important;
            }
            .text-start {
                width: 75% !important;
                @include Font;
                color: $paragraph-color;
            }
        }
        .col {
            .one {
                width: 23rem;
                padding: 0.5rem 1rem;
                @include fonts;
                background-color: $stars-bg-color;
                color: $card-bg-color;
            }
            .two {
                width: 23rem;
                margin-left: 2.5rem !important;
                padding: 0.5rem 1rem;
                @include fonts;
                background-color: $stars-bg-color;
                color: $card-bg-color;
            }
            .three {
                width: 23rem;
                margin-left: 4.5rem !important;
                padding: 0.5rem 1rem;
                @include fonts;
                background-color: $stars-bg-color;
                color: $card-bg-color;
            }
        }
    }
    .second {
        border: 2px solid blue !important;
        padding: 0 2rem !important;
        
        
        .col {
            border: 2px solid red !important;
            .card {
                width: 100% !important;
                padding: 1.5rem;
                background-color: $card-bg-color;

                .head {
                    display: flex;
                    justify-content: space-between;
                    color: $neutral-color;
                    @include fonts;
                    img {
                        border-radius: 100%;
                    }

                    .me-4 {
                        margin-top: 1rem !important;
                        margin-right: 5rem !important;
                       

                        .text-info {
                            margin-top: -0.4rem;
                            color: $buyer-color !important;
                            
                        }
                    }
                }
                .card-content {
                    p {
                        color: $paragraph-color;
                        @include Font;
                    }
                }
            }
        }
        .pt-3 {
            padding-top: 1.5rem !important;
        }
    }
    .bottom {
        width: 70%;
        height: 530px;
        margin-top: -95vh !important;
        background-image: url(../../assets/img/bg-pattern-bottom-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top left ;
        float: right !important;
    }
}