$primary-color: blue;
$secondary-color:gray;
$error-color: rgb(239, 158, 158);
$info-color:cyan;

$colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "error": $error-color,
    "info": $info-color,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange":#ffa600,
    "purple": #9900ff,
    "gray":#808080,
    "black": #0000,
    "white": #ffff,

)