@media(max-width:700px) {
    .first {
       
        .card {
            height: 220px;
            img {
                width: 100% !important;
                height: 50%;
                
                border-bottom-left-radius: 0px !important;
                border-top-right-radius: 5px !important;
            }
        }
    }
    .second {
        .card {
            padding: 2rem !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 5px !important;
            border-bottom-left-radius: 5px !important;

            h5 {
                margin-right: 3rem !important;
            }
        }
    }
}